$colors: (
  bg: #dfdfdf,
  primary: #b8fff9,
  secondary: #85f4ff,
  accent: #0000ff,
  text: #000000,
);

$darkColors: (
  bg: #151515,
  primary: #06283d,
  secondary: #47b5ff,
  accent: #effffd,
  text: #ffffff,
);
